.about {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 30px;
}

.about-text-section {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 10px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 500px;
  text-align: center;
  z-index: -1;;
}


