
.new-item {
  display:flex;
  flex-direction: column;
  align-items: center;
} 


.add-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  bottom: 0;
  background: linear-gradient(145deg, #f7fffb, #d0dbd4);
  height: 300px;
  width: 90%;
  max-width: 500px;
  padding-top: 10px;
  border-radius: 10px;
  margin-top: 150px;
}

/* .add-item-section {
  background: linear-gradient(145deg, #f7fffb, #d0dbd4);
  height: 300px;
  width: 400px;
  padding-top: 10px;
  border-radius: 10px;
  margin-top: 100px;
} */

.add-item-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 30px;

}

.new-food {
  cursor: pointer;
  margin: auto;
  border: none;
  width: 300px;
  height: 10px;
  font-size: 14px;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
 
  box-shadow:  16px 16px 100px #c4cfc8;
  
}

/* .new-item-page {
  display:flex;
  flex-direction: column;
  align-items: center;
} */

.add-item-button-div {
  display: flex;
  justify-content: center;
}

.add-item-button{
  width: 300px;
  height: 40px;
  font-size: 20px;
  appearance: none;
  cursor: pointer;
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-top: 0;
  margin-left: 10px;
  border-radius: 10px;
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}

.home-button-div {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;  
}

.home-button {
  font-size: 15px;
  height: 35px; 
  appearance: none;
  cursor: pointer;
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-top: 50px;
  margin-left: 10px;
  border-radius: 5px;
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}