.login {
  margin-top: 50px;
  position: relative;
  box-sizing: border-box;
  bottom: 0;
  background: linear-gradient(145deg, #f7fffb, #d0dbd4);
  height: 200px;
  width: 100%;
  padding-top: 10px;
  border-radius: 10px;
  
}

.login-form {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  width: 300px;
  margin: 30px;
  margin-top: 30px;
}

.login-field {
  cursor: pointer;
  margin: auto;
  border: none;
  width: 150px;
  height: 20px;
  font-size: 14px;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  /* background: linear-gradient(145deg, #f7fffb, #d0dbd4); */
  box-shadow:  16px 16px 31px #c4cfc8, 
             -16px -16px 31px #ffffff;
}

.login-button-div {
  display: flex;
  justify-content: center;
}

.login-button {
  width: 300px;
  height: 40px;
  font-size: 20px;
  appearance: none;
  cursor: pointer;
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}