.action-buttons-div {
  display: flex;
 justify-content: center;
}

.back-button {
  cursor: pointer;
  appearance: none;
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-top: 30px;
  margin-left: 10px;
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}

.log-out-button-text {
  font-size: 25px;
  margin-bottom: 0;
  margin-left: 10px;
  color:#8f8995;
  font-weight: 700;
}