

h3 {
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 10px;
  color: #514e4c;
  font-weight: 500;
  /* margin-top: 120px; */
  /* box-shadow:  16px 16px 100px #c4cfc8, 
  -16px -16px 100px #ffffff; */
}

h4 {
  font-size: 16px;
  margin-bottom: 0;
  width: 50%;
  margin-top: 50px;
}

h5 {
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 10px;
  color: #514e4c;
  font-weight: 500;
}

ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  
}

.buttons-loggedin {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  cursor: pointer;
}

.show-items-button {
  font-size: 20px;
  cursor: pointer;
  appearance: none;
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;

}

.new-item-button-link {
  font-size: 20px;
  cursor: pointer;
  appearance: none;
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 10px;
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}

.items-result {
  /* display: none; */
  box-sizing: border-box;
  height: 320px;
  width: 300px;
  overflow-y: auto;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 10px;
}



.my-item-list {
  display: flex;
  justify-content: flex-end;
  /* justify-content: space-between; */
}


.my-item-number {
  width: 30px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.my-item-food {
  width: 110px; 
  display: flex;
  flex-direction: column;
  /* align-items: flex-end;
  justify-content: flex-start; */
  /* align-items: center;
  justify-content: center; */
}

/* .my-item-date {
  display: flex;
  flex-direction: column;
  
} */

/* .remove-item-button {
  padding: 0;
} */

.my-item-number-date-button {
display: flex;
justify-content: flex-end;
/* align-items: flex-end; */
}

/* <p className="my-item"> {item.date.sort((a, b) => {
  return (
    a.date() > b.date())
})

</p> */