body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  background: url(fridge.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* html { 
  background: url(leafs.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* .charCount {
  color: black;
} */

/* .charcountWrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 230px;
} */

/* .first-page {
  background-image: url("leafs.jpg");
  width: 80%;
  height: 100%;
} */

h1 {
  font-size: 36px;
  color: #514e4c;
  font-weight: 500;
  text-align: center;
  
  
}

h3 {
  font-size: 16px;
  margin-bottom: 0;
  color: black;
  font-weight: 300;
  padding-bottom: 20px;;
}

h4 {
  font-size: 16px;
  margin-bottom: 0;
  width: 50%;
  margin-top: 50px;
}

section {
  display:flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 20px;
  appearance: none;
  /* border-radius: 40px; */
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 21px;
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}

.register {
  /* border-color: grey; */
  /* border-radius: 40px; */
  /* border-width: 2px; */
  border: none;
  width: 150px;
  height: 20px;
  font-size: 14px;
  margin: 5px;
  border-radius: 21px;
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}

.login-form {
  display: inline;
}

.log-in {
  /* border-color: grey; */
  /* border-radius: 40px; */
  /* border-width: 2px; */
  border: none;
  width: 150px;
  height: 20px;
  font-size: 14px;
  margin: 5px;
  border-radius: 21px;
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}

input {
  padding: 10px

}

.error {
  color: black;
  font-weight: bold;
  margin: 20px 0px
}

.buttons-loggedin {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
}

.show-items-button {
  font-size: 20px;
  appearance: none;
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-top: 30px;
  margin-left: 10px;
  /* position: absolute; */
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}

.additem-form {
  display: flex;
  flex-direction: column;
  /* background: #e7f3eb; */

}

/* border: none;
  width: 150px;
  height: 20px;
  font-size: 14px;
  margin: 5px; */

.new-food {
  border: none;
  border-width: 2px;
  width: 150px;
  height: 20px;
  font-size: 14px;
  margin: 5px;
  border-radius: 41px;
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}


