body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  background: url(fridge.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* html { 
  background: url(leafs.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* .charCount {
  color: black;
} */

/* .charcountWrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 230px;
} */

/* .first-page {
  background-image: url("leafs.jpg");
  width: 80%;
  height: 100%;
} */

h1 {
  font-size: 36px;
  color: #514e4c;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
  position: sticky;
  top: 50px;
  
  
}

h3 {
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 10px;
  color: #514e4c;
  font-weight: 500;
  /* margin-top: 120px; */
  /* box-shadow:  16px 16px 100px #c4cfc8, 
  -16px -16px 100px #ffffff; */
}

h4 {
  font-size: 16px;
  margin-bottom: 0;
  width: 50%;
  margin-top: 50px;
}

h5 {
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 10px;
  color: #514e4c;
  font-weight: 500;
}

.login {
  /* display: inline; */
  margin-top: 50px;
  position: relative;
  bottom: 0;
  background: linear-gradient(145deg, #f7fffb, #d0dbd4);
  height: 200px;
  padding-top: 10px;
  border-radius: 10px;
  margin-top: 50px;
}

.login-form {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  width: 300px;
  margin: 30px;
  margin-top: 30px;
}

.login-field {
  cursor: pointer;
  margin: auto;
  border: none;
  width: 150px;
  height: 20px;
  font-size: 14px;
  margin: 5px;
  /* border-radius: 21px; */
  /* background: linear-gradient(145deg, #f7fffb, #d0dbd4); */
  box-shadow:  16px 16px 31px #c4cfc8, 
             -16px -16px 31px #ffffff;
}

.login-button-div {
  display: flex;
  justify-content: center;
}

.login-button {
  width: 300px;
  height: 40px;
  font-size: 20px;
  appearance: none;
  cursor: pointer;
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: linear-gradient(145deg, #f7fffb, #d0dbd4);
  box-shadow:  16px 16px 31px #c4cfc8, 
             -16px -16px 31px #ffffff; 
}

/* section {
  display:flex;
  flex-direction: column;
  align-items: center;
} */

.signup-section {
  position: relative;
  bottom: 0;
  background: linear-gradient(145deg, #f7fffb, #d0dbd4);
  height: 300px;
  padding-top: 10px;
  border-radius: 10px;
  margin-top: 100px;
}

.signup-form {
 display: flex;
 justify-content: center;
 flex-direction: column;
 width: 300px;
 margin: 30px;
 
}

.signup-button-div {
  display: flex;
  justify-content: center;

}

.signup-button {
  /* margin: 15px; */
  width: 300px;
  height: 40px;
  font-size: 20px;
  appearance: none;
  cursor: pointer;
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-top: 0;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(145deg, #f7fffb, #d0dbd4);
  box-shadow:  16px 16px 31px #c4cfc8, 
             -16px -16px 31px #ffffff; 
}


.signup-field {
  cursor: pointer;
  margin: auto;
  border: none;
  width: 300px;
  height: 10px;
  font-size: 14px;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  /* background: linear-gradient(145deg, #f7fffb, #d0dbd4); */
  box-shadow:  16px 16px 100px #c4cfc8, 
             /* -16px -16px 31px #ffffff; */
}



/* input {
  padding: 10px

} */

.error {
  color: black;
  font-weight: bold;
  margin: 20px 0px
}

.buttons-loggedin {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  cursor: pointer;
}

.show-items-button {
  font-size: 20px;
  cursor: pointer;
  appearance: none;
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-top: 30px;
  margin-left: 10px;
  /* position: absolute; */
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}

.new-item-button-link {
  font-size: 20px;
  appearance: none;
  cursor: pointer;
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 21px;
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}

.back-button {
  font-size: 20px;
  appearance: none;
  cursor: pointer;
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 21px;
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}

.log-out-button {
  font-size: 20px;
  appearance: none;
  cursor: pointer;
  background: black;
  color:#8f8995;
  border: none;
  padding: 10px 30px;
  font-weight: light;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 21px;
  background: #e7f3eb;
  box-shadow:  16px 16px 31px #c2ccc5, 
             -16px -16px 31px #ffffff;
}